@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 사진주소 */
/* https:

 */
.text {
    position: fixed;
    left: 30px;
    top: 10px;
    z-index: 500;
}

.fixed-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 50px;
}

.slide-content {
    position: relative;
    width: 60%;
    margin: 0 auto;
    font-size: 25px;

}

#slide01 {
    background: url(img/poster.jpg)no-repeat center;
    background-size: 100%; 
}




#slide04 {
    background: url(img/KakaoTalk_20230522_190614204.gif)no-repeat center;
    background-size: 100%;
}

